{% extends "layout/master.html" %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="box home-box">
{% for topic in topics %}
        <div class="topic-list-item clearfix{% if not loop.last%} underline{% endif %}">
          <div class="clearfix">
            <div class="avatar float-left"><img src="https://www.gravatar.com/avatar/123" /></div>
            <div class="right float-left">
              <h3><a href="/t/{{topic.id}}">{{topic.title}}</a></h3>
              <div class="topic-list-meta">
                <span><a href="/{{topic.username}}">{{topic.username}}</a></span>
                <span>{{topic.created_at|naturaldelta}}</span>
                
                <!--
                <div class="toolbar">
                  
                  <button style="border: none; padding: none; border: none; outline:none;">
                    <svg class="bi bi-heart" width="28px" height="28px" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10 4.748l-.717-.737C7.6 2.281 4.514 2.878 3.4 5.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.837-3.362.314-4.385-1.114-2.175-4.2-2.773-5.883-1.043L10 4.748zM10 17C-5.333 6.868 5.279-1.04 9.824 3.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C14.72-1.042 25.333 6.867 10 17z" clip-rule="evenodd"/>
                    </svg>
                  </button>
                  
                  <a href="/t/{{topic.id}}/edit">
                    <svg class="bi bi-document-code" width="28px" height="28px" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M6 3h8a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V5a1 1 0 00-1-1H6z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M10.646 7.646a.5.5 0 01.708 0l2 2a.5.5 0 010 .708l-2 2a.5.5 0 01-.708-.708L12.293 10l-1.647-1.646a.5.5 0 010-.708zm-1.292 0a.5.5 0 00-.708 0l-2 2a.5.5 0 000 .708l2 2a.5.5 0 00.708-.708L7.707 10l1.647-1.646a.5.5 0 000-.708z" clip-rule="evenodd"/>
                    </svg>
                  </a>
                  <a href="/t/{{topic.id}}/delete">
                    <svg class="bi bi-trash" width="28px" height="28px" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M6 6v8.5c0 .47.124.874.297 1.144.177.275.361.356.489.356h6.428c.127 0 .312-.08.489-.356.173-.27.297-.673.297-1.144V6h1v8.5c0 .634-.164 1.23-.456 1.685-.288.448-.747.815-1.33.815H6.786c-.583 0-1.042-.367-1.33-.815C5.164 15.73 5 15.134 5 14.5V6h1z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3-3.5h-11v1h11V4zm-11-1a1 1 0 00-1 1v1a1 1 0 001 1h11a1 1 0 001-1V4a1 1 0 00-1-1h-11z" clip-rule="evenodd"/>
                      <path d="M8 3a1 1 0 011-1h2a1 1 0 011 1v1H8V3z"/>
                    </svg>
                  </a>
                </div>
                -->
              </div>
            </div>
            <div class="float-right topic-reply-count align-middle">
              {{topic.reply_count}}
            </div>
          </div>
        </div>
{% endfor %}
        <div>
          {{pagination.links|safe}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}